		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				Copyright © 2018 <a href="#" class="navbar-link" target="_blank">Rustik Framework</a>
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>

