<div id="login-container" class="page-container">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="panel panel-flat transparent" style="position: static;">
        <div id="login-form-container" class="panel-body">
          <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
          <h5>Login to your account<small class="display-block">Enter your credentials below</small></h5>
          <form class="form-horizontal" id="login"></form>
        </div>
      </div>
    </div>
  </div>
</div>
