<div>
  <div dir="ltr" style="font-family:arial; margin:0; padding:0; background-color:#ffffff">
    <table cellspacing="0" cellpadding="0" width="100%;" border="0" style="border-collapse:collapse">
      <tbody style="display:table; width:100%">
        <tr>
          <td id="x_email_content" style="font-family:arial,sans-serif; background:#ffffff">
            <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
              <tbody style="display:table; width:100%">
                <tr style="">
                  <td height="36" colspan="3" style="line-height:20px">&nbsp;</td>
                </tr>
                <tr>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                  <td style="background:#273246; height:60px">
                    <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
                      <tbody style="display:table; width:100%">
                        <tr>
                          <td width="32" align="left" valign="middle" style="width:42; line-height:0px; padding-left: 5px;">
                            <a href="/" target="_blank" style="color:#333; text-decoration:none; outline:0">
                              <div style="display: inline-block;">
                                <img src="%C%MAILING_DOMAIN%C%%C%RF_IMAGEBASE%C%logo.png" width="96" style="border:0">
                              </div>
                            </a>
                          </td>
                          <td width="15" style="display:block; width:15px">&nbsp;</td>
                          <td width="100%">
                           <h3 style="font-weight:normal; font-size:18px; line-height:46px; color:#CED1D5; pading:0; margin:0">{mailing_title}</h3></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                  <td style="">
                    <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
                      <tbody style="display:table; width:100%; background: #f5f5f5;">
                        <tr style="">
                          <td height="28" style="line-height:28px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="padding:25px;">
                          <!-- SNIPPET {mailing_body} -->
                          </td>
                        </tr>
                        <tr style="">
                          <td height="14" style="line-height:14px; border-bottom: 1px solid #ddd">&nbsp;&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                  <td style="">
                  {mailing_aditional_content}
                  </td>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                  <td style="">
                    <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
                      <tbody style="display:table; width:100%">
                        <tr>
                          <td style="font-family:arial,sans-serif; font-size:12px; color:#999; line-height:20px">
                            {mailing_footer_aditional}
                            <p style="margin:0;">This message was sent to <a href="mailto:{to:0}" style="color:#777">{to:0}</a>. For any other question, please send an e-mail to us at: <a href="mailto:%C%RF_MAIL_FROM%C%" style="color:#777">%C%RF_MAIL_FROM%C%</a></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr style="">
                  <td height="20" colspan="3" style="line-height:20px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

