<table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; ">
   <tbody>
      <tr>
         <td>
            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; border:solid 1px #ddd; border-radius:3px; display:block;background: #fff;">
               <tbody style="display:table; width:100%">
                  <tr>
                    <td style="padding:10px; background-color:#CED1D5; border-bottom:1px solid #ddd">
                        <h1 style="font-size:22px; font-family:arial; font-weight:normal; color:#43516b">{mlgusr_welcome}</h1>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:10px; font-size:14px; color:#333; padditoro ng:10px;">
                      <p style="margin:4 0">Your password was successfully updated.</p>
                      <br>
                      <p style="margin:4 0">Best regards.</p>
                    </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>


