<!-- BEGIN pagination -->
<div class="dataTables_info">{pagn_detail}</div>
<div class="result-pages dataTables_paginate" rel="{pagn_data}">
  <a class="paginate_button shortcut first {pagn_first_off}" rel="{pagn_first_html}">&laquo;</a>
  <a class="paginate_button shortcut prev {pagn_prev_off}" rel="{pagn_prev_html}">&lsaquo;</a>
  <span>
    <!-- BEGIN pagn_pages -->
    <a class="page paginate_button {pagn_page_curr}" rel="{pagn_page_html}">{pagn_page_html}</a>
    <!-- END pagn_pages -->
  </span>
  <a class="paginate_button shortcut next {pagn_next_off}" rel="{pagn_next_html}">&rsaquo;</a>
  <a class="paginate_button shortcut last {pagn_last_off}" rel="{pagn_last_html}">&raquo;</a>
</div>
<!-- END pagination -->
