<div>
   <p>
   %t%Por alguna razón tu inicio de sesión autómatico difiere con nuestros registros.%t%
   %t%Puede ser que hayas guardado una sesión en otro equipo, lo cual sobreescribe cualquier sesión previa.%t%
   %t%Pero también puede deberse a un intento de hackear tu usuario.%t%
   </p>
   <p>%t%Por tu seguridad, te recomendamos iniciar sesión nuevamente.%t%</p>
</div>
