<div class="page-header page-header-inverse header-logout">

		<!-- Main navbar -->
		<div class="navbar navbar-inverse navbar-transparent">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"><img src="%C%RF_CORE_IMAGEURL%C%logo.png" alt="%C%RF_MAINTITLE%C%"></a>
			</div>

			<div class="navbar-collapse collapse" id="navbar-mobile">
			</div>
		</div>
		<!-- /main navbar -->
</div>
