<div>
   <p>
   %t%Por alguna razón no encontramos tu inicio de sesión autómatico en nuestros registros.%t%
   %t%Puede ser que hayas iniciado y cerrado una sesión en otro equipo, Lo cual inhabilita tu inicio anterior.%t%
   </p>
   <p>
   %t%También puede deberse a un problema interno en nuestros servidores, por lo tanto, de ser así, te pedimos disculpas anticipadas.%t% 
   %t%Aunque también podría deberse a un intento de hackear tu usuario.%t%
   </p>
   <p>%t%Por seguridad, te recomendamos iniciar sesión nuevamente.%t%</p>
</div>
