/**************************************
DUMP DEBUGGING STYLES
***************************************/
table.dump{ border: 1px solid black; font-size: 12px; }
table.dump tr td.detail{ background: #FFF; border-top:none; border-right:none; border-left:none }
table.dump tr td.detail font{ color: #000; }
table.dump tr td.cell-name{ background: #A1A1A1; border-left:none; border-right:none }
table.dump tr td.cell-name font{ color: #000; }
table.dump tr td.cell-value{ background: #E1E1E1; border-right:none }
table.dump tr td.cell-value font{ color: #000; }

table.dump tr td {border:1px solid black; padding:2px}
table.dump tr td {border-bottom:none}

#dump-floating{ position: absolute; display: block; clear: both; width: 100%; height:1px; z-index: 1000; }
#dump-floating #alin{ position: relative; display: inline; float: left; background: #ACACAC; }
#dump-floating #controls { display: table; padding: 4px; width: 96%; }
#dump-floating #alin #controls a{
    float: left;
    position:relative;
    display: inline;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    padding-right: 10px;
    color: #333;
}
#dump-floating #controls a#show-hide{ font-size: 22px; margin-top: -2px; }
#dump-floating #controls a#get-info{ float: right; }
#dump-floating #info{ background:none repeat scroll 0 0 #111; color:#ccc; display:table; position:absolute; display:none; }
#dump-floating #info ul{ margin:10px; padding: 0px; list-style:disc inside; }

body.stop-scrolling { height: auto !important; }

.modal-backdrop.in {
   opacity: 0.8 !important;
   -moz-opacity: 0.8 !important;
   -khtml-opacity: 0.88 !important;
   /* filter: alpha(opacity=80) !important;*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80) !important;
}

.sweet-overlay {
   background: #000;
   opacity: 0.8 !important;
   -moz-opacity: 0.8 !important;
   -khtml-opacity: 0.88 !important;
   /* filter: alpha(opacity=80) !important;*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80) !important;
}
.spinner-overlay {
   background: #000;
   opacity: 0.8;
   -moz-opacity: 0.8;
   -khtml-opacity: 0.88;
   /* filter: alpha(opacity=80);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000;
   display: none;
}

.header-logout a.navbar-brand {margin: 15px auto; padding:5px 20px}
.header-login a.navbar-brand {padding:10px 20px 0}
.header-login p.navbar-text {padding:22px 20px 0}

.dataTables_paginate .paginate_button:hover {background-color: #e6e6e6;}
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current:focus {cursor:default}
.dataTables_paginate .paginate_button.shortcut {padding:0; font-size:22px;}

.dataTables_length .select2-selection--multiple .select2-search__field {width:105px !important}
.dataTables_length .select2-selection--multiple .select2-search__field[placeholder=""] {width:0.75em !important}
.dataTables_length .select2-selection--multiple {height:36px}
.dataTables_length .select2-selection--multiple .select2-selection__choice {padding: 5px 12px; background-color: #eee; color: #333}

.btn.gral-action.disabled {
   opacity: 0.3;
   -moz-opacity: 0.3;
   -khtml-opacity: 0.33;
   /* filter: alpha(opacity=30);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

.modal-dialog.modal-dialog-centered {
   min-height: calc(100% - (1.75rem * 2));
   align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 1.75rem auto;
}
.modal-dialog .modal-content { width: 100%; }

#alertWindowContent .verbose-container { display:none; max-height: 100px; overflow-y: scroll; }
#alertWindowContent .manager-user-container { padding:0 50px 20px }
#alertWindowContent table tr td { padding:10px 5px; vertical-align:top; text-align:left; border:1px solid #FFF; }
#alertWindowContent table tr td:first-child { vertical-align:middle; }
#alertWindowContent table tr td:last-child { background:#F9F9F9; }

.label.label-cpaid { background-color: #666; border-color: #666; font-size: 12px; padding: 1px 5px 0px 5px }
.label.label-alert { background-color: #eacb43; }

/*------------------------------------------
/* SignUp Style                              
/*----------------------------------------*/
#welcome-video {width:100%; padding-right:0px !important}
#welcome-video .modal-dialog {width:70%; margin: 38px auto;}
#welcome-video .modal-dialog .modal-body {padding: 20px 10px 10px;}

#signup-container #registration-container { padding:0 20px; }
#signup-container .panel-flat { margin:0 auto; width:66% }
#signup-container h6.form-header { margin: 0 auto 20px; width: 66%; text-align:center; }

/*------------------------------------------
/* Profile Edition Style                              
/*----------------------------------------*/
#profile-container h6.form-header { margin: 0 auto 20px; width: 66%; text-align:center; }
#profile-container .toggle-pass, .toggle-thumb { display:table; padding:10px 0; }
#profile-container .toggle-pass + .panel-body, .toggle-thumb + .panel-body { padding:0 }
#profile-container .toggle-thumb { background: #FFF; padding: 4px; }

#profile-container .toggle-pass.collapsed .down, .toggle-thumb.collapsed .down, .panel-heading .right{display:none}
#profile-container .toggle-pass.collapsed .right,.toggle-thumb.collapsed .right,.panel-heading .down {display:inline-block}

#profile-container .toggle-pass i.right, .toggle-pass  i.down {cursor:pointer; padding-left:5px}
#profile-container .toggle-thumb i.down, .toggle-thumb i.right { padding:0; font-size:20px; color: #999; }
#profile-container .thumb.thumb-rounded { padding-bottom: 60%; }
.dropdown-user .thumb.thumb-rounded { height:34px; width:34px; display:inline-block; float:left; margin:0; }
.dropdown-user span { margin-left:7px; }

#navbar-mobile .img-circle { max-height: unset; margin-top: unset; }
#navbar-mobile .img-circle,
#profile-container .img-circle {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}

#profile-container #password-form-container { width:55% }
#profile-container #password-form-container .control-group { width:100% }

/*------------------------------------------
/* Account List Style                              
/*----------------------------------------*/
#DataTables_Table_0 .resultados-list tr.del { color: #C5C5C5; }
#acc-data dl.dl-horizontal dt {
   padding: 8px 10px;
   background: #569EAD;
   color: #FFF;
   margin-top:0;
   margin-bottom:0;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   white-space: unset;
}

#acc-data dl.dl-horizontal dd { padding: 8px 10px; margin-top:0; margin-bottom:0; margin-left: 160px; }
#acc-data dl.dl-horizontal dd>span { display:table-cell; float:left }
#acc-data dl.dl-horizontal dd ul { list-style: none; margin: 5px 0 0 0; padding: 0; display:table-cell; float:right }
#acc-data dl.dl-horizontal dd ul li { margin: 0 5px 0 0; }
#acc-data dl.dl-horizontal dd ul li span { font-size: 11px; font-family: "Arial"; margin:4px 0 0 3px; float:right }

#acc-data .tab-content {height:390px; overflow-y:scroll; margin-bottom:10px;}
#acc-data .tab-content .form-group.mt-5 {margin-bottom:10px;}
#acc-data .platform-info { text-align: right; margin-bottom: 10px; }
#acc-data .platform-info span { margin:0 2px }

/*------------------------------------------
/* Pixels List Style                              
/*----------------------------------------*/
#pixellist-container #DataTables_Table_0 thead tr th#value { width: 10%; }
#pixellist-container #DataTables_Table_0 thead tr th,
#pixellist-container #DataTables_Table_0 tbody tr td { padding-left:10px; padding-right:20px; }
#pixellist-container #DataTables_Table_0 thead tr th:after,
#pixellist-container #DataTables_Table_0 thead tr th:before,
#pixellist-container #DataTables_Table_0 tbody tr td:after,
#pixellist-container #DataTables_Table_0 tbody tr td:before { right:6px; }
#pixellist-container #DataTables_Table_0 thead tr th:first-child,
#pixellist-container #DataTables_Table_0 tbody tr td:first-child {padding-left:20px;}
#pixellist-container .sin-resultados { margin:20px; }

#pix-data dl.dl-horizontal dt {
   padding: 8px 10px;
   background: #569EAD;
   color: #FFF;
   margin-top:0;
   margin-bottom:0;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   white-space: unset;
}

#pix-data dl.dl-horizontal dd { padding: 8px 10px; margin-top:0; margin-bottom:0; margin-left: 160px; }
#pix-data dl.dl-horizontal dd>span { display:table-cell; float:left }
#pix-data dl.dl-horizontal dd ul { list-style: none; margin: 5px 0 0 0; padding: 0; display:table-cell; float:right }
#pix-data dl.dl-horizontal dd ul li { margin: 0 5px 0 0; }
#pix-data dl.dl-horizontal dd ul li span { font-size: 11px; font-family: "Arial"; margin:4px 0 0 3px; float:right }

#pix-data .tab-content {height:390px; overflow-y:scroll; margin-bottom:10px;}
#pix-data .tab-content .form-group.mt-5 {margin-bottom:10px;}
#pix-data .platform-info { text-align: right; margin-bottom: 10px; }
#pix-data .platform-info span { margin:0 2px }

#pix-edit .modal-body { padding-top:0px; }
#pix-edit .modal-body form { margin-top:0px; }
#pix-edit .modal-header h5 { font-size:20px; text-align:center; }
#pix-edit .control-group .checkbox span { margin-left:17px; }
#pix-edit .control-group textarea { resize: vertical; }
#pix-edit .modal-body form .buildform-messagebox + div { width:100% }

/*------------------------------------------
/* OfferWall Style                              
/*----------------------------------------*/
#offerwall-container .pagination-container #DataTables_Table_0_length { margin:0 0 0 66px; }
#offerwall-container .switchery { color:#64BD63; }

#offerwall-container .fab-menu { position:absolute; }
#offerwall-container .filter-control .fab-menu-inner li+li { display:none; }

#offerwall-container .panel-flat .panel-body {padding: 14px;}
#offerwall-container .panel-flat .panel-body p {margin:1px auto}
#offerwall-container .panel-flat .categs > li + li::before {color:#2196F3}
#offerwall-container .panel-flat .categs > li {font-size:12px; padding-right:2px; margin:4px auto; }
#offerwall-container .panel-flat .categs > li a {border-bottom: 2px solid transparent; background:#2196F3; color:#FFF; padding:4px 6px}
#offerwall-container .panel-flat .categs > li a:hover {border-bottom: 2px solid #0B62C3;}
#offerwall-container .panel-flat .heading-elements { padding-right:13px }
#offerwall-container .panel-flat .heading-elements .heading-text { margin-left:13px; font-size:12px; }

#offerwall-container .panel-flat .stats { list-style:none; margin:0; padding:0; }
#offerwall-container .panel-flat .stats li { padding:4px 6px; background:#00BCD4; color:#FFF; text-align:center; font-size:12px; margin:1px; }
#offerwall-container .panel-flat .stats li:first-child {background: transparent; color:inherit; padding:0; margin-left:0; margin-right:6px; text-align:left; }

#offerwall-container .panel-flat .opers { list-style:none; margin:0; padding:0; }
#offerwall-container .panel-flat .opers.empty { display:none; }
#offerwall-container .panel-flat .opers li { margin-right: 8px; padding-right:0; height:24px; }
#offerwall-container .panel-flat .opers li:hover { border-bottom: 2px solid #00BCD4; }
#offerwall-container .panel-flat .opers li a { background: url('/core/application/layouts/images/operators_sprite.png') no-repeat; background-size: 100%; }
#offerwall-container .panel-flat .opers li a.sprint  { width:50px; height:21px; background-position:0 0; display:block; }
#offerwall-container .panel-flat .opers li a.verizon  { width:50px; height:21px; background-position:0 -21px; display:block; }
#offerwall-container .panel-flat .opers li a.att  { width:50px; height:21px; background-position:0 -41px; display:block; }
#offerwall-container .panel-flat .opers li a.tmobile { width:50px; height:15px; background-position:0 -61px; display:block; margin-top:2px; }

#offerwall-container .panel-flat .extras { list-style:none; margin:8px; padding:0; display:inline-block; font-size:12px;}
#offerwall-container .bootstrap-switch { margin-top: 0; }

#offerwall-container .offer-search:after {
   webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   content: "\e98e";
   font-family: icomoon;
   font-size: 12px;
   display: inline-block;
   position: absolute;
   top: 50%;
   right: 30px;
   margin-top: -6px;
   color: #999;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}   
#offerwall-container .offer-search #query { padding-right: 30px; outline: 0; }

#offerwall-container .countries .select2-selection__choice { background: #2196F3; padding:7px }
#offerwall-container .countries .select2-selection__choice span label { background: #82B3DD; }
#offerwall-container .countries .select2-search { height:34px }
#offerwall-container .countries .select2-search__field { padding:7px 0; margin-top:0; }

#offerwall-container .operators .select2-selection__choice { background: #00BCD4; padding:7px; }
#offerwall-container .operators .select2-selection__choice span label { background: #79CEDA; }
#offerwall-container .operators .select2-search { height:34px }
#offerwall-container .operators .select2-search__field { padding:7px 0; margin-top:0; }

#offerwall-container .deviceos .select2-selection__choice { background: #5492B9; padding:7px; }
#offerwall-container .deviceos .select2-selection__choice span label { background: #77B5DD; }
#offerwall-container .deviceos .select2-search { height:34px }
#offerwall-container .deviceos .select2-search__field { padding:7px 0; margin-top:0; }

#offerwall-container .payouttypes .select2-selection__choice { background: #4CAF50; padding:3px 7px }
#offerwall-container .payouttypes .select2-search { height:28px }
#offerwall-container .payouttypes .select2-search__field { padding:5px 0; margin-top:0; }

#offerwall-container .ordercont #orient { margin-bottom:0; }
#offerwall-container .resultados .pagination-container .dataTables_info {margin-bottom:0 }
#offerwall-container .resultados .pagination-container .dataTables_paginate {margin-bottom:0 }

#offerwall-container .category-content .navigation li a > i { color: #2196F3; } 

#tracking-link-modal .control-group.link .link-box { width:100%; }
#tracking-link-modal .control-group.link .link-box:after { content: "\ec96"; }
#tracking-link-modal .control-group.link .link-box a.copy:hover { background:#1C80CF; }
#tracking-link-modal .control-group.link .link-box a.copy { display: table-cell; vertical-align: middle; padding: 15px; }
#tracking-link-modal .control-group.link .link-box > span { display: table-cell; text-align: left; width: 90%; vertical-align: middle; }
#tracking-link-modal .control-group.link .alert { margin-bottom:2px; }

.modal-backdrop.pixel {
   background: #000;
   opacity: 0.8;
   -moz-opacity: 0.8;
   -khtml-opacity: 0.88;
   /* filter: alpha(opacity=80);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

#offer-modal-pixel.view < p + h2 { text-align:left; }
#offer-modal-pixel.view > div { background-color: #EFEFEF; margin-top: 7px; display: inline-block; width:100%; }
#offer-modal-pixel.view > span { display:table; margin-bottom:7px; }
#offer-modal-pixel.view > label { display:table; }

#offer-modal-pixel.view > div code {
   display: inline-block;
   background: unset;
   color: unset;
   font-weight: bold;
   text-align: left;
   margin: 10px auto;
   width:100%;
   padding:2px 10px;
}

#editpixel-elt-comment p,
#offer-modal-pixel.view p {
   display: block;
   font-style: oblique;
   vertical-align: middle;
   text-align: left;
   color: #aaa;
   margin-top: 22px;
   font-size: 12px;
}

#offer-modal-pixel .modal-body { padding-top:0px; }
#offer-modal-pixel .modal-body form { margin-top:0px; }
#offer-modal-pixel .modal-header h5 { font-size:20px; text-align:center; }
#offer-modal-pixel .control-group .checkbox span { margin-left:17px; }
#offer-modal-pixel .control-group textarea { resize: vertical; }
#offer-modal-pixel .switchery { color:#2196F3; }

.sweet-alert button.confirm[disabled] { color: #FFF; }
.sweet-alert button.confirm { background-color: #2196F3 !important; }

.select2-selection.with-pill ul li.select2-selection__choice span label {
   margin-bottom:0;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   line-height: 18px;
   height: 18px;
   width: 18px;
   background: #38C1D2;
   color: #FFF;
   font-size: 8px;
   text-align: center;
   float: right;
   vertical-align: middle;
   margin-top: 1px;
   margin-left: 4px;
}

.select2-results li span label {
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   line-height: 18px;
   height: 18px;
   width: 18px;
   color: #FFF;
   font-size: 8px;
   text-align: center;
   float: right;
}

#select2-operators-results li[aria-selected=true] { background: #00BCD4; }
#select2-operators-results li[aria-selected=true] span label { background: #79CEDA; }
#select2-operators-results li span label { background: #00BCD4; }
 
#select2-deviceos-results li[aria-selected=true] { background: #5492B9; }
#select2-deviceos-results li[aria-selected=true] span label { background: #77B5DD; }
#select2-deviceos-results li span label { background: #5492B9; }
 
#select2-countries-results li[aria-selected=true] { background: #2196F3; }
#select2-countries-results li[aria-selected=true] span label { background: #82B3DD; }
#select2-countries-results li span label { background: #2196F3; }

.detail { display:none }
.detail .fab-menu.close {display:none}
.detail .panel .offer-thumb { width:100% }
.detail .panel .list-inline > li + li::before {color:#2196F3}
.detail .panel .list-inline > li {font-size:12px; padding:4px 0; margin-right:2px;}
.detail .panel .list-inline > li a { border-bottom:2px solid transparent; background:#2196F3; color:#FFF; padding:4px 6px 2px 6px; }
.detail .panel .list-inline > li a:hover {border-bottom: 2px solid #0B62C3;}

.detail .panel .extras { float:right }
.detail .panel .extras.list-inline > li:first-child a { background:#4CAF50; }
.detail .panel .extras.list-inline > li:first-child a:hover { border-bottom-color:#4CAF50;cursor:default }

.detail .panel .row.main div:last-child .stat { width:100%; display:inline-block; }
#offer-detail-container #barchart-container { height:295px; }
#offerwall-container #barchart-container { height:208px; }

.detail .panel ul.creatives li a { background-color:#2196F3; color:#fff; padding:4px 6px; margin-left:4px}
.detail .panel ul.creatives li a:hover { background-color:#115286; }

.detail .panel.panel-pixel .panel-heading .panel-title {display:inline; float:left} 
.detail .panel.panel-pixel .panel-heading #add-pixel {display:inline; float:right; margin-bottom:30px} 
.detail .panel.panel-pixel .panel-body {padding-right:20px !important; } 
.detail .panel ul.pixels { display:block; width:100%; }
.detail .panel ul.pixels li { display:inline-block; line-height:18px; width:100%; }
.detail .panel ul.pixels li span { display:inline; width:100%; }
.detail .panel ul.pixels li span label.status {
   color:#fff;
   font-weight:bold;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   width: 18px;
   height: 18px;
   font-size:10px;
   text-align: center;
   margin-bottom:0;
   line-height:18px;
   display: inline;
   float: left;
   margin-right: 4px;
}

.detail .panel ul.pixels li span label.status.pending { background-color:#999;}
.detail .panel ul.pixels li span label.status.approved { background-color:#4CAF50;}
.detail .panel ul.pixels li span label.status.rejected { background-color:#F44336;}

.detail .panel ul.pixels li span code {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   width: 85%;
   color:unset;
   background:#EDEDED;
}
.detail .panel ul.pixels li a { background-color:#2196F3; color:#fff; padding:1px 6px; margin-left:4px; float:right; }
.detail .panel ul.pixels li a:hover { background-color:#115286; }
.detail .panel ul.pixels li a i { font-size:10px; margin-right:0; }


/*----------------------------------------*/
/* Form styles
/*----------------------------------------*/
/* JSONFORMS                              */
/*----------------------------------------*/
/** BuildForm styles **********************/
.buildform-messagebox { display: inline-block; width: 100%; }
.spinner-overlay {
   background: #000;
   opacity: 0.8;
   -moz-opacity: 0.8;
   -khtml-opacity: 0.88;
   /* filter: alpha(opacity=80);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000;
   display: none;
}

/** Colorbox styles ***********************/
.jsonform #cboxTitle { top:0; height:30px}

/** Step Progress styles ******************/
.steps-list { overflow: hidden; position:relative; margin:40px auto 0; width:66% }
.steps-list .progress-container { position:absolute; top:24px; width:100%; background:#DDD; height:1px; }
.steps-list .progress-container div { position:absolute; top:0; left:0; height:1px; background:#2196F3; }
.steps-list .steps-container { display:table; width:100%; }
.steps-list .steps-container * { position:relative; display:table-cell; padding:0 5px; text-align:center }

.steps-list .steps-container > div p { display: block; color:#DDD; }
.steps-list .steps-container > div.active p { color:#2196F3; }
.steps-list .steps-container > div.complete p { color:#AED3F2; }
.steps-list .steps-container > div .step-icon {
   display: inline-block;
   width: 40px;
   height: 40px;
   margin: 4px 0;
   background: #ddd;
   font-size: 16px;
   color: #fff;
   line-height: 40px;
    text-align:center;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}
.steps-list .steps-container > div.active .step-icon {width:48px; height:48px; margin:0; background:#2196F3; line-height:48px;}
.steps-list .steps-container > div.complete .step-icon {background:#AED3F2; border:1px solid #2196F3; color:#2196F3;}

.steps-list .steps-container > div .step-icon i { line-height:40px; width:40px; }
.steps-list .steps-container > div.active .step-icon i { line-height:48px; width:48px; }

/** Boostrap styles ***********************/
.error-title { font-size:100px }
.alert .close {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    font-size: 22px;
    right: 10px;
    font-weight: bold;
}

.alert {
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-align:center
}
.alert-danger { color: #bd6260; background-color: #f2dede; border-color: #ebccd1; }
.alert-danger .close { color: #d5a0a8; }
.alert-success { color: #678147; background-color: #dcf6ba; border-color: #c2daa3; }
.alert-success .close { color: #acc889; }
.alert strong{ display: block; font-size: 16px; font-weight: normal; padding-bottom: 10px; }

.label.profile {margin-top:5px}
.bg-default-400 { background-color: #BBB; border-color: #BBB; color: #FFF; }

.jsonform.fixed form>div .control-group {width:inherit}; 
.jsonform form>div { background: none; margin: 0 auto; display: block; }
.jsonform form>div input[type=submit] { }

.jsonform form>div .section-group {display: table; width:100%}
.jsonform form>div .control-group {display:table; margin:5px 0; width:100%; position:relative}

.jsonform form>div .control-group .control-label ,
.jsonform form>div .section-group .control-label { display:block; margin:4px 0; padding:0; font-size:12px; font-weight:bold }

.jsonform form>div .section-group.inline .control-group {display:inline-block; vertical-align:top}
.jsonform form>div .section-group.inline .control-group {padding-right:10px; padding-left:10px}
.jsonform form>div .section-group.inline .control-group:first-child,
.jsonform form>div .section-group.inline :not(.control-group) + .control-group {padding-right:10px; padding-left:0px}
.jsonform form>div .section-group.inline .control-group:last-child {padding-right:0px; padding-left:10px}

.jsonform form>div .control-group .controls { display:table; position:relative; margin: 4px 0; width:100% }
.jsonform form>div .control-group .controls span.error { position:absolute; z-index:1111 }
.jsonform form>div .control-group .controls span.error.left { display:inline !important; margin-right: 4px; }
.jsonform form>div .control-group .controls span.error.right { display:inline !important; margin-left: 4px; }
.jsonform form>div .control-group .controls span.error.top { bottom:100%; display:table }
.jsonform form>div label.radio.btn { background:#EEE; border:unset; margin:0 auto; }
.jsonform form>div label.radio.btn span { font-weight:bold !important }
.jsonform form>div label.radio.btn:hover { background:#D8ECFC; }
.jsonform form>div label.radio.btn.active { color:#FFF; background:#2196F3; }
.jsonform form>div label.checkbox input.switchery { color:#2196F3; }
.jsonform form>div label.checkbox span:last-child { font-weight:bold; margin-left:6px; }

.jsonform form>div .control-group .controls span.error label{
   background: #BC5136;
   display: table !important;
   margin-bottom: 0;
   color: #fff;
   vertical-align: middle;
   line-height: 20px;
   font-weight: bold;
   font-size: 12px;
   opacity: 0.8;
   -moz-opacity: 0.8;
   -khtml-opacity: 0.88;
   /* filter: alpha(opacity=80);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
   padding:5px 6px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0px 0px 4px 1px rgba(124,67,53,0.33);
   -moz-box-shadow: 0px 0px 4px 1px rgba(124,67,53,0.33);
   box-shadow: 0px 0px 4px 1px rgba(124,67,53,0.33);
}

.jsonform form>div .control-group .controls span.error i {
   position: absolute;
   width: 0;
   height: 0;
   border-color: transparent;
   border-top-color: transparent;
   border-style: solid;
   opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.88;
   /* filter: alpha(opacity=80);*/
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.jsonform form>div .control-group .controls span.error.top i,
.jsonform form>div .control-group .controls span.error.bottom i { left: 50%; margin-left: -4px; }
.jsonform form>div .control-group .controls span.error.top i { bottom:-4px; border-width: 4px 4px 0; border-top-color: #BC5136; }
.jsonform form>div .control-group .controls span.error.bottom i { top:-4px; border-width: 0 4px 4px; border-bottom-color: #BC5136; }

.jsonform form>div .control-group .controls span.error.right i,
.jsonform form>div .control-group .controls span.error.left i { top: 50%; margin-top: -4px; }

.jsonform form>div .control-group .controls span.error.right i { left:-4px; border-width: 4px 4px 4px 0; border-right-color: #BC5136; }
.jsonform form>div .control-group .controls span.error.left i { right:-4px; border-width: 4px 0 4px 4px; border-left-color: #BC5136; }

.jsonform form>div .control-group .controls span.with-currency:before {
   content: "$";
   position: absolute;
   line-height: 28px;
   margin-left: 1px;
   margin-top: 1px;
   background: #BBB;
   padding:0 4px;
   color: #FFF;
   -webkit-border-top-left-radius: 3px;
   -moz-border-top-left-radius: 3px;
   border-top-left-radius: 3px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-bottom-left-radius: 3px;
   border-bottom-left-radius: 3px;
   box-sizing: border-box;
   width:15px;
}
.jsonform form>div .control-group .controls span.with-currency input  { padding-left:17px; text-align:right; }

.jsonform form>div .jsonform-required > label::after ,
.jsonform form>div .jsonform-required > .required-mark::after {
   color:#BC5136;
   content:"*";
   font-family: "Verdana";
   position:absolute;
   font-size: 18px;
   font-weight: normal;
   margin: -4px 0 0 4px;
}

.jsonform form>div .jsonform-required > .required-mark::after { margin-left:0; margin-top:-30px}
.jsonform form>div .jsonform-required > .required-mark.before::after { margin-left:-13px; }

.jsonform form>div .jsonform-required > .required-mark {margin:0; display:inline; }
.jsonform form>div .jsonform-required > .required-mark.after { float:right }
.jsonform form>div .jsonform-required > .required-mark.before { float:left}
 
.sp-input,
.jsonform form>div .control-group textarea,
.jsonform form>div .control-group select,
.jsonform form>div .control-group input[type="date"],
.jsonform form>div .control-group input[type="calendar"],
.jsonform form>div .control-group input[type="number"],
.jsonform form>div .control-group input[type="money"],
.jsonform form>div .control-group input[type="text"],
.jsonform form>div .control-group input[type="password"] {
    border: 1px solid #cccccc;
    padding: 4px 6px;
    font-size: 12px;
    font-family: arial;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    width:100%;
}
.jsonform form>div .control-group select { height: 30px; }
.jsonform form>div .control-group select[multiple="multiple"] { height: unset; }

.jsonform form>div .control-group textarea:focus,
.jsonform form>div .control-group select:focus,
.jsonform form>div .control-group input[type="text"]:focus,
.jsonform form>div .control-group input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.jsonform form>div .control-group input[aria-invalid='true'],
.jsonform form>div .control-group textarea[aria-invalid='true'],
.jsonform form>div .control-group select[aria-invalid='true'],
.jsonform form>div .control-group input[aria-invalid='true']:focus,
.jsonform form>div .control-group textarea[aria-invalid='true']:focus,
.jsonform form>div .control-group select[aria-invalid='true']:focus {
  color: #b94a48;
  border-color: #E0A191;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 161, 145, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 161, 145, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 161, 145, 0.6);
}

.jsonform .help-inline {
  display: block;
  position: relative;
  padding-left: 5px;
  margin:2px auto;
  line-height: 12px;
  vertical-align: middle;
  font-size: 10px;
  font-style: oblique;
  color: #666;
  *zoom: 1;
}

/** custom jsonform styles ***********************/
.jsonform form .control-group .controls .itemlist {
   position:absolute;
   width:422px;
   display:none;
   z-index: 1;
   background:#EEE;
   -webkit-box-shadow: 4px 4px 10px #666;
   -moz-box-shadow: 4px 4px 10px #666;
   box-shadow: 4px 4px 10px #666;
   padding: 5px;
}
.jsonform form .control-group .controls .itemlist a.close::before {
   content: "✖";
   position: absolute;
   margin-left: -1px;
   color: #4D6185;
   margin-top: -3px;
   opacity: 0.6;
   -moz-opacity: 0.6;
   -khtml-opacity: 0.6;
   /* filter: alpha(opacity=60);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.jsonform form .control-group .controls .palette div.page  {display:table; border-collapse:separate; border-spacing:0px;}
.jsonform form .control-group .controls .itemlist div.page {display:table; border-collapse:separate; border-spacing:4px;}
.jsonform form .control-group .controls .palette div.page span { width:14px; height: 14px; display: inline; float:left; }
.jsonform form .control-group .controls .itemlist div.page a {
   display:table-cell; 
   width:60px; 
   height:60px;
   text-align:center;
   vertical-align:middle;
}

.palette-color.reset::after {
    content: 'x';
    position: relative;
    vertical-align: middle;
    height: 15px;
    display: block;
    font-size: 11px;
    text-align: center;
    color: #999;
}

.jsonform form .control-group .controls .spriteselect .container {display: inline-block}
.jsonform form .control-group .controls .spriteselect .container .palette,
.jsonform form .control-group .controls .spriteselect .container .choosencont {background:#D1D1D1; display:inline-block; float:left }
.jsonform form .control-group .controls .spriteselect .container .palette {margin-left:2px; padding:7px; height:57px;}
.jsonform form .control-group .controls .spriteselect .container .choosencont { height:71px; width:71px}
.jsonform form .control-group .controls .spriteselect .container .choosen {
   width: 61px;
   height: 61px;
   background: #C4C4C4;
   display: inline-block;
   margin: 5px;
   -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
           border-radius: 32px;
}

.jsonform form .control-group .controls .spriteselect .container .choosen span { margin: 4px auto; }
.jsonform form .control-group .controls .spriteselect .container .choosencont .open::after {
   content: "+";
   vertical-align: middle;
   text-align: center;
   display: inline-block;
   margin-top: -39%;
   margin-left: -42%;
   width: 25px;
   height: 25px;
   line-height: 24px;
   font-size: 24px;
   font-weight: bold;
   cursor: pointer;
   -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
           border-radius: 13px;
   color: #C4C4C4;
   background: #8793A8;
   opacity: 0.6;
   -moz-opacity: 0.6;
   -khtml-opacity: 0.6;
   /* filter: alpha(opacity=60);*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.jsonform form .control-group .controls .spriteselect .container .choosencont .open.change::after { content: "↺"; font-size: 18px; }
.jsonform form .control-group .controls .spriteselect .container .palette .palette-color {cursor:pointer}
.jsonform form .control-group .controls .spriteselect .container .palette .palette-color.reset {margin-top:2px}

/**** LOGIN FORM (jsonform) ****/
#login-container .page-content { display: table; width: 27%; margin: 0 auto; }
#login-form-container {text-align:center}
.jsonform form#login .control-group {width:100%}
.jsonform form#login #login-elt-login {width:100%}

/**** USER PROFILE FORM (jsonform) ****/
#profile-container .sidebar-content .user-details .content-group-sm { line-height: 1; }
#profile-container .sidebar-content .user-details .content-group-sm small { 
   font-size: 88%;
   opacity: 0.5 !important;
   -moz-opacity: 0.5 !important;
   -khtml-opacity: 0.55 !important;
   /* filter: alpha(opacity=50) !important;*/
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50) !important;
}

.jsonform form#userprofile #complete-name .control-group,
.jsonform form#userprofile #password-data .control-group {width:50%}
.jsonform form#userprofile .control-group {width:100%}

/**** AFFILIATE PROFILE FORM (jsonform) ****/
.jsonform form#userprofile #address-data .control-group {width:25%}
.jsonform form#userprofile #aim-data .control-group {width:50%}
.jsonform form#userprofile #job-data .control-group {width:50%}
.jsonform form#userprofile #tax-data .control-group {width:50%}
.jsonform form#userprofile #address-data .jsonform-error-zip_code { width: 15%; }
.jsonform form#userprofile #address-data .jsonform-error-country { width: 35%; }

.jsonform form#userprofile #phone-data .jsonform-error-telcode { width: 12%; }
.jsonform form#userprofile #phone-data .jsonform-error-telnumber { width: 25%; }

/**** SIGNUP FORM (jsonform) ****/
/*--- satanic form style ---*/
#signup-container .content-wrapper { display: table; table-layout: fixed; }
#signup-container .panel.panel-flat.transparent {
   border: 0px solid transparent;
   background-color:unset;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: unset;
   -moz-box-shadow: unset;
   box-shadow: unset;
}
#signup-container .panel.panel-flat.transparent .panel-heading { border:0; background:unset; }
#signup-container .panel.panel-flat.transparent .panel-body { padding:0; }
#signup-container .panel.panel-flat.transparent .jsonform form#signup fieldset legend {padding-top:20px; float:left;}
#signup-container .panel.panel-flat.transparent .jsonform form#signup fieldset {
   border: 1px solid transparent;
   border-color: #DDD;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFF;
   padding: 8px 50px 20px;
   margin-top:-3px;
}
#signup-container .panel.panel-flat.transparent .jsonform form#signup fieldset.internal {
   border: 0;
   background-color: unset;
   padding: unset;
   margin: unset;
   display: block;
}

/*------------------- */

.jsonform form#signup .control-group.jsonform-error-accept2 {margin-top: -15px;}
.jsonform form#signup .control-group.jsonform-error-accept2 span,
.jsonform form#signup .control-group.jsonform-error-accept span {padding-left:20px;}

.jsonform form#signup .control-group.jsonform-error-im_account {width:100%}
.jsonform form#signup .control-group.jsonform-error-vat_id {width:100%}

.jsonform form#signup div#company-data .control-label { margin-bottom: -6px }
.jsonform form#signup div#address-data .control-label { margin-bottom: -6px }
.jsonform form#signup div#phone-data .control-label { margin-bottom: -6px }

.jsonform form#signup fieldset {display:none; vertical-align:top; padding:0 30px}
.jsonform form#signup fieldset legend {padding-top:0}
.jsonform form#signup fieldset.tab-container .tabbable,
.jsonform form#signup fieldset.tab-container .tabbable .tab-content .tab-pane {width:100%}

.jsonform form#signup fieldset#basic-info .control-group {width:100%}

.jsonform form#signup fieldset#basic-info #complete-name .control-group,
.jsonform form#signup fieldset#basic-info #company-data .control-group,
.jsonform form#signup fieldset#basic-info #tax-data .control-group,
.jsonform form#signup fieldset#basic-info #aim-data .control-group,
.jsonform form#signup fieldset#basic-info #password-data .control-group {width:50%}

.jsonform form#signup fieldset#basic-info #address-data .jsonform-error-city {width:25%}
.jsonform form#signup fieldset#basic-info #address-data .jsonform-error-zip_code {width:15%}
.jsonform form#signup fieldset#basic-info #address-data .jsonform-error-address { width: 25%}
.jsonform form#signup fieldset#basic-info #address-data .jsonform-error-country { width: 35%}

.jsonform form#signup fieldset#basic-info #phone-data .jsonform-error-telcode { width: 12%}
.jsonform form#signup fieldset#basic-info #phone-data .jsonform-error-telarea { width: 12%}
.jsonform form#signup fieldset#basic-info #phone-data .jsonform-error-telnumber { width: 25%}

.jsonform form#signup #buttons-group { width:100%; padding:15px 30px; }
.jsonform form#signup #buttons-group .g-recaptcha{ float:right }
.jsonform form#signup #signup-elt-prev,
.jsonform form#signup #signup-elt-next { margin-left:15px; float:right }

.jsonform form#signup fieldset#additional-questions .control-group {width:100%}

.jsonform form#signup fieldset#additional-questions #signup-elt-qtn3-t-cpanet {height:80px !important}
.jsonform form#signup fieldset#additional-questions #signup-elt-qtn6-t-addinfo {height:87px !important}

.jsonform form#signup fieldset#additional-questions .file-drop-zone-title {padding:30px 10px}
.jsonform form#signup fieldset#additional-questions .file-preview {margin-bottom:10px}
.jsonform form#signup fieldset#additional-questions .file-preview-frame {padding:10px}
.jsonform form#signup fieldset#additional-questions .kv-file-content {display:table-cell; padding-right:10px}
.jsonform form#signup fieldset#additional-questions .file-thumbnail-footer {display:table-cell; vertical-align:middle; text-align:right}
.jsonform form#signup fieldset#additional-questions .file-actions {margin-top:0; border:none}
.jsonform form#signup fieldset#additional-questions .file-actions button {padding:0px; }

/****************************************************
/*  OTHER DEVICES STYLES (cellphones/tablets)
****************************************************/
@media only screen and (max-width: 1024px) {
  #welcome-video .modal-dialog {width:95%;}
}

@media only screen and (max-width: 900px) {
  #welcome-video .modal-dialog {width:90%;}
  #page-container .jsonform form#signup #basic-info #address-data .jsonform-error-address { width:33.33%; }
  #page-container .jsonform form#signup #basic-info #address-data .jsonform-error-city { width:33.33%; }
  #page-container .jsonform form#signup #basic-info #address-data .jsonform-error-zip_code { width:33.33%; padding-right:0 }
  #page-container .jsonform form#signup #basic-info #address-data .jsonform-error-country { width:50%; padding-left:0; padding-right:0 }

  #page-container .jsonform form#signup #basic-info #phone-data .jsonform-error-telcode { width:19%; }
  #page-container .jsonform form#signup #basic-info #phone-data .jsonform-error-telnumber { width:28%; }

  #page-container .jsonform form#signup #additional-questions .kv-file-content {visibility:hidden; width:1px; padding:0}
}

@media only screen and (max-width: 500px) {
  .dl-horizontal dd { margin-left: 161px; }

  .header-login p.navbar-text { padding: 24px 20px; position: absolute; float: right; right: 32px;}
  
  #welcome-video .modal-dialog {width:90%;}
  #page-container .panel-flat { width: 100%; }
  #page-container .page-container { padding:0; }
  #page-container .jsonform form>div .section-group {display:block}
  #page-container .jsonform form>div .section-group.inline:not(.s33):not(.s50) .control-group {width:100% !important; padding-right:0; padding-left:0}
  #page-container .jsonform form>div .section-group.inline.s33 .control-group {width:33.33% !important;}
  #page-container .jsonform form>div .section-group.inline.s50 .control-group {width:50% !important;}
  #page-container .steps-list { width:100% ;margin-top:20px }
  #page-container .steps-list .steps-container > div p { display:none }

  #page-container .steps-list .steps-container > div .step-icon { width:30px; height:30px; line-height:30px; }
  #page-container .steps-list .steps-container > div .step-icon i { line-height:30px; width:30px; }

  #page-container .steps-list .steps-container > div.active .step-icon { width:36px; height:36px; line-height:36px; }
  #page-container .steps-list .steps-container > div.active .step-icon i { line-height:36px; width:36px; }
  #page-container .steps-list .steps-container * { padding:0 3px; font-size:15px; }
  #page-container .steps-list .progress-container { top:20px; }

  #page-container #signup-container h6.form-header { margin:10px auto; padding-left:5px; width:inherit; }
  #page-container .jsonform form#signup #additional-questions .kv-file-content {visibility:hidden; width:1px; padding:0}
  #page-container .jsonform form#signup .buildform-messagebox .alert { margin: 0 auto; margin-bottom: 0px; width: 90%; margin-bottom: 11px; }
}

